<section id="get-started" class="get-started">
  <div class="container get-started__container">
    <div class="get-started__form-wrapper">
      <h3 class="get-started__form-title heading-h4">
        Let’s level up your brand
      </h3>
      <p class="get-started__form-text text-p-medium">
        You can reach us anytime
        <a
          href="mailto:hellosansbrothers@gmail.com"
          class="get-started__form-link"
          >hellosansbrothers@gmail.com</a
        >
      </p>
      <form class="get-started__form">
        <div class="get-started__form-top">
          <label class="get-started__form-label">
            <span class="get-started__form-label-text text-p-small"
              >First name</span
            >
            <input
              type="text"
              class="get-started__form-input get-started__form-input--small text-p-small"
              required
              name="first-name"
              placeholder="First name"
              pattern="[a-zA-Zа-яА-Я]+"
            />
          </label>
          <label class="get-started__form-label">
            <span class="get-started__form-label-text text-p-small"
              >Last name</span
            >
            <input
              type="text"
              class="get-started__form-input get-started__form-input--small text-p-small"
              required
              name="last-name"
              placeholder="Last name"
              pattern="[a-zA-Zа-яА-Я]+"
            />
          </label>
        </div>
        <label class="get-started__form-label">
          <span class="get-started__form-label-text text-p-small">Email</span>
          <input
            type="email"
            class="get-started__form-input text-p-small"
            required
            name="email"
            placeholder="you@company.com"
          />
        </label>
        <label class="get-started__form-label">
          <span class="get-started__form-label-text text-p-small">
            Phone number
          </span>
          <input
            id="phone"
            type="tel"
            class="get-started__form-input text-p-small"
            required
            name="phone"
            placeholder=""
            pattern="^\+?\d+$"
          />
        </label>
        <label class="get-started__form-label">
          <span class="get-started__form-label-text text-p-small">Message</span>
          <textarea
            type="text"
            class="get-started__form-input get-started__form-input--textarea text-p-small"
            name="message"
            placeholder="Leave us a message..."
          ></textarea>
        </label>
        <button
          class="get-started__form-btn button-form text-p-default"
          type="submit"
        >
          Get Started
        </button>
      </form>
    </div>
    <img
      loading="lazy"
      class="get-started__img"
      src="./assets/image/getstarted-img.jpg"
      width="987"
      height="885"
      alt="a man and a woman give each other high fives"
    />
  </div>
</section>
