.partners {
  padding: 108px 0;

  @include mini-desktop {
    padding: 48px 0;
  }

  @include tablet {
    padding: 30px;
  }

  &__container {
    @include flex-all-between;
    gap: 30px;
    max-width: 1110px;

    @include small-tablet {
      flex-direction: column;
      justify-content: center;
      text-align: center;
    }
  }

  &__title {
    max-width: 323px;
    font-weight: 500;
    line-height: 178%;
    color: var(--neutral-color-150);

    @include small-tablet {
      max-width: none;
    }

    &-num {
      display: block;
      margin-bottom: 16px;
      font-weight: 600;
      letter-spacing: -0.04em;
      color: var(--neutral-color-100);

      @include mobile {
      margin-bottom: 10px;
      }
    
    }
  }

  &__slider {
    margin-right: 0;
    margin-left: 0;

    @include small-tablet {
      width: 100%;
    }
  }

  &__list {
    display: grid;
    gap: 10px 30px;
    grid-template-columns: repeat(4, 1fr);

    @include mini-desktop {
      grid-template-columns: repeat(3, 1fr);
    }

    @include tablet {
      grid-template-columns: repeat(2, 1fr);
    }

    @include small-tablet {
      display: flex;
      gap: 0;
    }
  }

  .swiper-wrapper {
    display: grid;

    @include small-tablet {
      display: flex;
    }
    }

  &__item {
    display: flex !important;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    width: 160px;
    height: 90px;
    background-color: #fff;

    &.swiper-slide {
      height: 90px;
    }
  }
}
