<section class="articles">
  <div class="container articles__container">
    <div class="articles__left">
      <div class="articles__post">
        <img
          loading="lazy"
          class="articles__post-img"
          src="./assets/image/review/article-img-1.jpg"
          width="584"
          height="751"
          alt="table with laptop"
        />
        <h3 class="articles__post-title heading-h3">
          How we perform long-running tasks using AWS services
        </h3>
        <p class="articles__post-descr text-p-medium">
          Webflow is web design tool as well as a hosting platform and CMS all
          in one. While you are probably familiar with all of these, they are
          usually entirely separate tools.
        </p>
      </div>
      <div class="articles__post">
        <img
          loading="lazy"
          class="articles__post-img"
          src="./assets/image/review/article-img-2.jpg"
          width="584"
          height="507"
          alt="employees work at a desk"
        />
        <h3 class="articles__post-title heading-h3">
          Layout Exploration — Simple exercise but big effect
        </h3>
        <p class="articles__post-descr text-p-medium">
          Make alternatives or other options for the design we are making. For
          example, we are creating a website design. Then there is the
          testimonial section.
        </p>
      </div>
    </div>
    <div class="articles__right">
      <div class="articles__post">
        <img
          loading="lazy"
          class="articles__post-img"
          src="./assets/image/review/article-img-3.jpg"
          width="584"
          height="507"
          alt="employees are discussing something or pretending to work"
        />
        <h3
          class="articles__post-title articles__post-title--short heading-h3 articles__post-title--underline"
        >
          How to ask when doing User Research
        </h3>
        <p class="articles__post-descr text-p-medium">
          Bro, the story is that you want to make an application for buying and
          selling goods on the market. During user research, what do you think
          you will ask people?
        </p>
      </div>
      <div class="articles__post">
        <img
          loading="lazy"
          class="articles__post-img"
          src="./assets/image/review/article-img-4.jpg"
          width="584"
          height="751"
          alt="The boss explains something to the employees, they pretend to be happy"
        />
        <h3 class="articles__post-title articles__post-title--short heading-h3">
          Webflow Break the Coding Barrier
        </h3>
        <p class="articles__post-descr text-p-medium">
          Webflow is web design tool as well as a hosting platform and CMS all
          in one. While you are probably familiar with all of these, they are
          usually entirely separate tools.
        </p>
      </div>
    </div>
  </div>
</section>
