<section class="news">
  <div class="container">
    <div class="news__heading">
      <div class="news__heading-left">
        <h2 class="news__heading-title heading-h2">Articles</h2>
        <p class="news__heading-subtitle text-p-medium">
          Complex tech decoded by engineers, business trends analyzed by
          experts.
        </p>
      </div>
      <div class="news__btns">
        <button class="news__btn news__btn--prev">
          <svg
            width="16"
            height="14"
            viewBox="0 0 16 14"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M7.73635 13.0364C7.38487 13.3879 6.81503 13.3879 6.46355 13.0364L1.06355 7.63644C0.712082 7.28497 0.712082 6.71512 1.06355 6.36365L6.46356 0.963652C6.81503 0.612179 7.38488 0.612179 7.73635 0.963652C8.08782 1.31512 8.08782 1.88497 7.73635 2.23644L3.87274 6.10005L14.3 6.10005C14.797 6.10005 15.2 6.50299 15.2 7.00005C15.2 7.4971 14.797 7.90005 14.3 7.90005L3.87274 7.90005L7.73635 11.7637C8.08782 12.1151 8.08782 12.685 7.73635 13.0364Z"
              fill="#CED1D8"
            />
          </svg>
        </button>
        <button class="news__btn news__btn--next">
          <svg
            width="16"
            height="14"
            viewBox="0 0 16 14"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M7.73635 13.0364C7.38487 13.3879 6.81503 13.3879 6.46355 13.0364L1.06355 7.63644C0.712082 7.28497 0.712082 6.71512 1.06355 6.36365L6.46356 0.963652C6.81503 0.612179 7.38488 0.612179 7.73635 0.963652C8.08782 1.31512 8.08782 1.88497 7.73635 2.23644L3.87274 6.10005L14.3 6.10005C14.797 6.10005 15.2 6.50299 15.2 7.00005C15.2 7.4971 14.797 7.90005 14.3 7.90005L3.87274 7.90005L7.73635 11.7637C8.08782 12.1151 8.08782 12.685 7.73635 13.0364Z"
              fill="#CED1D8"
            />
          </svg>
        </button>
      </div>
    </div>
    <div class="news__slider swiper">
      <ul class="news__slider-list swiper-wrapper">
        <li class="news__slider-item swiper-slide">
          <img
            loading="lazy"
            class="news__slider-img"
            width="406"
            height="577"
            src="./assets/image/review/review-slider-img-1.jpg"
            alt="a man is typing on a laptop and a woman is standing behind him"
          />
          <h3 class="news__slider-title heading-h5">
            List of UX Designer Portfolio / Case Studies where you can make
            money
          </h3>
          <p class="news__slider-descr text-p-medium">
            Here are some portfolios / Case Studies from UX Designers that you
            can use as a reference for creating a portfolio. Two interesting
            things from their portfolio are:
          </p>
          <a class="news__slider-btn button-form" href="#">Read More</a>
        </li>
        <li class="news__slider-item swiper-slide">
          <img
            loading="lazy"
            class="news__slider-img"
            width="406"
            height="329"
            src="./assets/image/review/review-slider-img-2.jpg"
            alt="a man and a woman high fives each other"
          />
          <h3 class="news__slider-title heading-h5">
            Skyrocketing in The Designing Career, Why Not?
          </h3>
          <p class="news__slider-descr text-p-medium">
            Ever thought of jumping into the world of design as a career? If
            not, you may want to look at what the word ‘design’ actually means.
            Design is a method of designing aesthetic actions that are carried
            out.
          </p>
          <a class="news__slider-btn button-form" href="#">Read More</a>
        </li>
        <li class="news__slider-item news__slider-item--big swiper-slide">
          <img
            loading="lazy"
            class="news__slider-img"
            width="476"
            height="695"
            src="./assets/image/review/review-slider-img-3.jpg"
            alt="employees looks into the projector"
          />
          <h3 class="news__slider-title heading-h5">
            Elements that may be missed when designing the UI
          </h3>
          <p class="news__slider-descr text-p-medium">
            This is an article that talks about the little elements that are
            often overlooked when designing UI.
          </p>
          <a class="news__slider-btn button-form" href="#">Read More</a>
        </li>
        <li class="news__slider-item swiper-slide">
          <img
            loading="lazy"
            class="news__slider-img"
            width="406"
            height="577"
            src="./assets/image/review/review-slider-img-1.jpg"
            alt="a man is typing on a laptop and a woman is standing behind him"
          />
          <h3 class="news__slider-title heading-h5">
            List of UX Designer Portfolio / Case Studies where you can make
            money
          </h3>
          <p class="news__slider-descr text-p-medium">
            Here are some portfolios / Case Studies from UX Designers that you
            can use as a reference for creating a portfolio. Two interesting
            things from their portfolio are:
          </p>
          <a class="news__slider-btn button-form" href="#">Read More</a>
        </li>
        <li class="news__slider-item swiper-slide">
          <img
            loading="lazy"
            class="news__slider-img"
            width="406"
            height="329"
            src="./assets/image/review/review-slider-img-2.jpg"
            alt="a man and a woman high fives each other"
          />
          <h3 class="news__slider-title heading-h5">
            Skyrocketing in The Designing Career, Why Not?
          </h3>
          <p class="news__slider-descr text-p-medium">
            Ever thought of jumping into the world of design as a career? If
            not, you may want to look at what the word ‘design’ actually means.
            Design is a method of designing aesthetic actions that are carried
            out.
          </p>
          <a class="news__slider-btn button-form" href="#">Read More</a>
        </li>
        <li class="news__slider-item news__slider-item--big swiper-slide">
          <img
            loading="lazy"
            class="news__slider-img"
            width="476"
            height="695"
            src="./assets/image/review/review-slider-img-3.jpg"
            alt="employees looks into the projector"
          />
          <h3 class="news__slider-title heading-h5">
            Elements that may be missed when designing the UI
          </h3>
          <p class="news__slider-descr text-p-medium">
            This is an article that talks about the little elements that are
            often overlooked when designing UI.
          </p>
          <a class="news__slider-btn button-form" href="#">Read More</a>
        </li>
      </ul>
    </div>
  </div>
</section>
