.quote {
  @include small-tablet {
    text-align: center;
  }
  &__container {
    @include flex-all-between;
    gap: 15px;
    border-top: 1px solid var(--neutral-color-30);
    border-bottom: 1px solid var(--neutral-color-30);
    padding: 80px 0;

    @include small-tablet {
      flex-direction: column;
    }

    @include mobile {
      padding: 50px 0;
    }

    @include small-mobile {
      padding: 30px 0;
    }
  }

  &__title {
    max-width: 480px;
    font-weight: 600;
    letter-spacing: -0.04em;
    color: var(--neutral-color-100);

    @include small-tablet {
      max-width: 738px;
    }
  }

  &__descr {
    max-width: 460px;
    font-weight: 600;
    line-height: 150%;
    color: var(--neutral-color-100);

    @include small-tablet {
      max-width: 600px;
    }

    @include mobile {
      max-width: 460px;
    }

    @include small-mobile {
      max-width: 300px;
    }
  }
}
